.wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: var(--blue2);
    display: grid;
    place-content: center;
}

.todoItem {
    width: var(--width);
    position: relative;
}

.time {
    top: .2rem;
    right: 5rem;
}